<!DOCTYPE html>
<html ng-app="crawlerextractor">
<head>
	<title>import&bull;io crawler reload</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-controller="Page">

	<div class="container">

		<h1>Crawler + Extractor for live data</h1>
		<p>This page shows you how to combine an import&bull;io crawler with its built-in extractor to crawl a lot of data then update specific entries with new data.</p>

		<form role="form" class="well col-md-6" ng-submit="getData()">
			<div class="form-group">
				<label for="userGuid">Your import&bull;io User GUID</label>
				<input type="text" class="form-control" id="userGuid" ng-model="userGuid" placeholder="User GUID">
				<span class="help-block">You can get this from your <a href="http://import.io/data/account" target="_blank">account page</a></span>
			</div>
			<div class="form-group">
				<label for="apiKey">Your import&bull;io API key</label>
				<input type="text" class="form-control" id="apiKey" ng-model="apiKey" placeholder="API key">
				<span class="help-block">You can get this from your <a href="http://import.io/data/account" target="_blank">account page</a></span>
			</div>
			<div class="form-group">
				<label for="sourceGuid">Crawler data source GUID</label>
				<input type="text" class="form-control" id="sourceGuid" ng-model="sourceGuid" placeholder="Source GUID">
				<span class="help-block">You can get this from your <a href="http://import.io/data/mine" target="_blank">My Data page</a>, this example will get you started</span>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="!formSubmitEnabled()">{{formLoading && 'Loading data' || 'Go'}}</button>
		</form>

		<div ng-show="data.length" class="col-md-12">
			<h2>The Data</h2>
			<p>This is initially populated with the data from the crawler (first {{maxRows}} rows only).</p>
			<p>You can then choose to refresh specific rows, which will re-retrieve the data for that specific page using the extractor.</p>

			<table class="table">
				<thead>
					<tr>
						<th>Source URL</th>
						<th ng-repeat="col in schemas[sourceGuid].outputProperties">{{col.name}} <em style="font-size: 8px">({{col.type}})</em></th>
						<th>Reload</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in data" ng-controller="Row">
						<td><a href="{{row.pageUrl}}" target="_blank">{{row.pageUrl}}</a></td>
						<td ng-repeat="col in schemas[sourceGuid].outputProperties">
							<div ng-repeat="resrow in row.results">
								{{resrow[col.name]}}
							</div>
						</td>
						<td>
							<a href="" ng-click="reload()" ng-show="!reloading">Reload</a>
							<span ng-show="reloading">Reloading</span>
							<span ng-show="error">(Error!)</span>
							<span ng-show="reloaded">(Reloaded)</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script src="importio.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="row.js"></script>
	<script src="safeApply.js"></script>
</body>
</html>